body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
}

img {
    height: 40px;
    padding-bottom: 18px;
}

footer p{
    font-size: 14px;
}

.wavy-decoration {
    text-decoration: #07c wavy underline;
    color: #07c;
}

.wavy-decoration:hover {
    text-decoration: black wavy underline;
}